.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
dev-certs/
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.der
*.jks
*.p12
*.keystore
*.srl
*.csr